@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.content {
    /*width: 70%;*/
    /*margin: 0 auto;*/
    font-family: 'PT Serif', sans-serif;
}

.contentText {
    font-family: "PT Serif", sans-serif;
    text-align: start;
    padding-top: 15px;
}

.resultContainer {
    margin-top: 20px;
    font-family: "PT Serif", sans-serif;
}

.resultContainer > p {
    font-family: "Roboto", sans-serif;
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.resultContainer > span {
    font-family: "Roboto", sans-serif;

    margin: 10px 0 20px 0;
    font-size: 28px;
    font-weight: 700;
}
